<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap select rails turbolinks</title>
  <%= stylesheet_link_tag    "bootstrap/select/rails/turbolinks/application", media: "all" %>
  <%= javascript_include_tag "bootstrap/select/rails/turbolinks/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
